.card__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
    padding: .5rem 1rem 1rem 1rem;
  }

  .grow {
    transition: all .3s ease;
  }

  .grow:hover { 
    transform: scale(1.1); 
  }
 