.header{
    height: 20vh;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 2rem 2rem;
  

}

@media screen and(max-width: 42.06em){
    .header{
        height: 10vh;
    }
}

h1{
    background-image: linear-gradient(to right, rgb(18, 238, 18), blue);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 4rem;
}

h1:hover{
  transform: skew(-7deg, -10deg);   
}

@media screen and (max-width: 40.63em){
    h1{
      font-size: 3rem;
    }
  }
@media screen and (max-width: 21.89em){
    h1{
      font-size: 2.8rem;
    }
  }




